.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.menu-logo a {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.menu-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-links li {
  margin-left: 20px;
}

.menu-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.menu-links li a:hover {
  background-color: #555;
  border-radius: 4px;
}

.nav-user-status {
  margin-left: auto; 
  font-weight: bold;
  color: #04aa8e;
}